// Source of truth: mucklet-client/src/common/scss/_theme.scss.
$body-bg: #161926;
$body-color: #93969f;
$body-font-family: "Open Sans", sans-serif;
$headings-font-family: "Amatic SC", cursive;
$headings-font-weight: 700;
$link-color: #4a9fc3;
$link-hover-color: #c1a657;
$primary: #c1a657;
$border-color: #303342;
$border-radius: .25rem;
